/*Wendy's CSS Page*/
.logo {
    transform: scaleX(-1);
}

body {
    display: grid;
    place-items: center; /* Centers both horizontally and vertically */
    height: auto; 
    margin: 0px;
}

div {
    max-width: 80%; 
}

.firstRow {
    padding: 30px 60px;
    margin: 10px;
}

h1 {
    font-style: italic;
    overflow: hidden;
    height: 0px;
    animation: dropDown 1s ease-out forwards;
    text-align: center;
}

@keyframes dropDown {
    0% {
      height: 0px;
    }
    100% {
      height: 47px; /* Adjust based on your font size */
    }
  }

/* Why are my div containers all different sizes...?: */
.secondRow {
    padding: 30px 60px;
    margin: 10px;
} 

.secondRowWrap {
    column-count: 3; 
    column-gap: 40px;
}

.secondRowWrap p {
    font-size: 20px;
}


/* Copied from someone's source code. Obviously change this once you know what to do: */
.myLinks {
    padding: 0px;
    margin: 0px;
}
/* Edit this. You don't want to copy someone else's work: */
  .myLinks a img{
    max-height: 50px;
    padding: 30px;

    /* What does this do?: */
    transition: all 0.3s ease-in-out;
}
/* Edit the effects. You don't want to copy someone else's work: */
.myLinks a img:hover {
    cursor: pointer;
    transform: scale(1.10);
}

/* WHEN YOU'RE DONE WITH DESKTOP CSS STRUCTURE, TURN TO: media queries to adjust the styles for smaller or larger screens! */